/* 웹폰트 - 지마켓 산스 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    /* font */
    font-family: 'GmarketSansMedium',cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*공통 요소*/
h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.05em;
    text-align: center;
}

img {
    display: block;
}

.hide {
    display: none !important;
}

/* header */
.header{
    position: relative;
    z-index: 999;
}

.header-wrap {
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 26px;
    position: fixed;
    top: 0;
}

.logo {
    display: block;
    width: 200px;
    height: 54px;
    text-align: center;
    object-fit: contain;
    
}

/* ham - menu */
.menu-icon {
    width: 100px;
    height: 48px;
    padding-left: 70px;
    position: relative;
    top:-5px;
}

.header-menu {
    display: none;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50px;
    left: 0;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.header-menu-list>li {
    display: block;
    padding: 10px 26px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-menu-list>li:hover {
    color: #a2d2ff;
    transition: 0.5s all ease-out;
}

.menu-show {
    display: block;
    text-align: left;
}


/* main */
.main-banner {
    padding-left: 0;
    margin-top: 80px;
    text-align: center;
}

.main-banner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/* main- about */
.main-about{
    z-index: -1;
}

.main-about-company{
    height: 600px;
    background-image: url(../images/abour-img.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-title {
    padding: 20px;
}

.main-desc {
    margin-top: 22px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
/* 메dls 배너 - 아이스크림 */
.icecream-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    padding: 0 27px 0 27px;
}

.icecream-type-button {
    font-size: 15px;
    background-color: #d8e9f5;
    border: none;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    padding: 10px 11.83px;
}

.button-change{
    background-color: #a6cfe5;
    color: #424242;
}
.icecream-type-img {
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: all 1s;
}

.icecream-type-img img {
    width: 120px;
    height: 150px;
}

.icecream-moreInfo{
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    float: right;
    padding: 5px 15px;
}

/* 아이스크림 - 종류별 이미지*/
.container{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin-top: 10px;
}

.icecream-images{
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;    
    position: relative;
    height: 150px;
    transition: all 0.3s;
}

.container img{
    width: 110px;
    margin-right: 25px;
}

/* 이동 버튼 */
.move-button{
   text-align: center;
   padding: 20px;
   position: relative;
   top: 8px;
}

#prev{
    padding: 20px;
    margin-right: 60px;
}
#next{
  padding: 25px;
}

/* about 밴엔제리스 */
.main-about{
    position: relative;
    padding-top: 120px;
}

.main-about-title{
    float: inline-start;
    position: absolute;
    top: 40%;
    left: 20vw;
    text-transform: uppercase;
    border-bottom: 1px solid #cdb4db;
}

.about-ben-jerrys{
    overflow: hidden;
}

.about-ben-jerrys::after{
    content: "";
    background-image: url(../images/right-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 63px;
    height: 60px;
    position: absolute;
    top: 314px;
    left: 280px;
}

/* 스토어찾기 */
.store{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    padding-top: 120px;
}

.store-title{
    margin-top: 40px;
}

.store p{
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.store{
    position: relative;
    padding: 120px 54px;
}

.bar{
    position: relative;
    padding: 10px 10px 6px 13px;
    box-sizing: border-box;
}

.bar p{
    width: 282px;
    font-size: 16px;
    text-align: left;
}

.scroll-bar{
    /* width: 100%; */
    height: 2px;
    background: #000;
    position: absolute;
    top: 32px;
}

.store a{
    font-size: 14px;
    font-weight: 700;
    border-radius: 30px;
    border: 1px solid #000;
    text-align: center;
    padding: 2px 2px;
    width: 110px;
}


.store button{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: rgb(152, 152, 152);
    position: relative;
    left: -10px;
    text-align: left;
    margin-bottom: 10px;
}

.store button::before{
    content: "";
    width: 30px;
    height: 30px; 
    content: "";
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/icon_store_current.jpg);
    position: relative;
    top:7px;
    left: 10px;
    margin-right: 20px;

}



/* 뉴스 */
.news{
    margin-bottom: 120px;
}
.news-container{
    overflow: hidden;
    position: relative;
    z-index: 10;
    padding: 20px 0;
    width: calc(50% + 130px);
    margin-left: auto;
}

.news-title {
    text-transform: uppercase;
    padding:50px 0px;
}
.news-container .content{
    padding-left: 24px;
}

.box time,
.box span{
    font-weight: 700;
    font-size: 12px;
}

.box span{
    margin-top: 6px;
}

.box a{
    display: block;
}
.box li{
    padding: 0 17px 7px 0;
    border-bottom: 1px solid #000;
}
.box li:nth-child(2){
    margin-top: 14px;
}
.box li:nth-child(3){
    margin-top: 14px;
}


.box li > time{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    padding: 0 17px 7px 0;
}
.box li> span{
    font-family: 'Noto Sans KR', sans-serif;
    font: 400;
    margin-top: 6px;
}
.news-container{
    z-index: 10;
}
.news-img {  
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-img img {
    width: 200px;
    height: 209px;
}

.news-container > .bg{
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #d8e9f5;
    z-index: -2;
}

/* footer */
.footer-list {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #f5f9fc;
    color: #a6cfe5;
    padding: 30px 0;
}

.list-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.list-content span{
    margin:0 7px;
}

.list-content span:nth-child(1){
    margin-left:13px;
}